:root {
    --main-white: #f0f0f0;
    --main-red: #b63446;
    --main-bb: rgba(90, 17, 17, 0.663);
}


.navlist {
    float: right;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    margin: 0%;
    font-size: 45px;
    padding: 0%;
    width: 100%;
    background: var(--main-red);


}

.welcome-section {
    font-size: 60px;
    margin-top: 700px;
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:black;
    text-align: center;
    width: 100%;
    right: 0;
    left: 0;
    flex-direction: column;

}

a {
    color:white;
    margin: 1%;
    text-decoration: none;
    font-family: serif;
}

h1 {
    color:  #73264d;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    font-family: cursive;
}

.image {
    height: calc(100% - 3rem);
    width: 70%;
    height: 80%;
    object-fit: cover;
    margin-top: 0%;
    background-size:100px;
    float: left;

}

.project-tile {
    font-size: 2.8rem;
    background-color:#6c07075f;
    padding: 1rem 0.5rem;    
    text-align: center;
    box-sizing: border-box;
    width: 70%;
}

#profile-link {
    color: white;
}

.Last {
    color: black;
}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

body {
    margin: 0px;
    font-family: serif;
    line-height: 1.4;
}
.project-section{
    background: var(--main-bb);
    padding: 10px;
    text-align: center;
}
.project-section-header{
    border-bottom: 0.2rem solid var(--main-white);
    padding: 2%;
    width: 1300px;
}
.contact{
    background-color: #9a2f2fae;
    color: white;
    margin-top: 0%;
}
footer{
    display: flex;
    background: #2c3239;
    padding: 38px;
    justify-content: space-evenly;
    border-top: 4px solid var(--main-red);
}

p{
    color: white;
    padding: 0;
}

.contact-session-header{
    text-align: center;
}
.btn-details{
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    font-size: 1.5rem;

}
@media (max-width: 1rem) {
    .project-section {
        padding: 0%;
        
    }
}
.nav{
    position: fixed;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15rem;
    width: 100%;
    margin-left: 5%;
}
.btn-show-all {
    font-size: 2.5rem;
    background: #9e4646c8;
    
}
#contact{
    text-align: center;
}